{% extends "base.html" %} {% block body %}

<!-- Graph showcase -->
<div class="hero has-background-grey-lighter">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-weight-light has-text-centered">
        Statistics
      </h1>
      <div class="columns is-centered">
        <div class="column is-4">
          <div class="box has-text-centered">
            <h1 class="title has-text-weight-light">Data</h1>
            <!-- Pie chart -->
            <canvas id="positiveChart"></canvas>
          </div>
        </div>
        <div class="column is-4">
          <div class="box has-text-centered">
            <h1 class="title has-text-weight-light">
              Analysis of Tweets
            </h1>
            <div class="table-container">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>Positive</th>
                    <th>Neutral</th>
                    <th>Negative</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data() {
        return {
          search_term: "",
          query_limit: 100,
          data: [1, 1, 1],
          overallPieChart: null,
          isLoading: false
        };
      },
      methods: {
        query() {
          // Set loading to opposite of itself
          this.isLoading = !this.isLoading;
          if (this.isLoading) {
            alert('Fetching your tweets. Please close (this is for testing only, will replace with a modal later)')
          }

          axios
            .get(
              `http://localhost:8000/app/piechart?q=${this.search_term}&maxResults=${this.query_limit}`
            )
            .then((res) => {
              // It is real hacky, but its a challenge so things shouldnt be done properly in the first place! :)
              this.data[0] = res.data.positive.number;
              this.data[1] = res.data.netural.number;
              this.data[2] = res.data.negative.number;

              // Update the Pie chart
              var chart = this.overallPieChart; // I am lazy...
              chart.data.datasets.forEach((dataset) => {
                dataset.data.push(this.data);
              });
              chart.update();
            })
            .catch((err) => console.error(err));
        },
      },
      mounted() {
        // Pie chart data
        var data = ({
          datasets: [
            {
              data: this.data,  
              backgroundColor: ['#48c774', '#e6e6e6', '#f14668']
            },
          ],
          
          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: ["Positive", "Neutral", "Negative"],
        });

        this.overallPieChart = new Chart(document.getElementById("positiveChart").getContext("2d"), {
          type: 'pie',
          data: data
        })
      }
    });
  </script>

  <!-- A bit of individual styling for Box -->
  <style>
    .box {
      height: 100%;
    }
  </style>
  {% endblock %}
</div>