{% extends "base.html" %}

{% block body %}
  <body>
      <div class="hero is-light">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered is-vcentered">
            <div class="column is-5">
              <h1 class="title is-1 has-text-weight-light has-text-centered">
                Sentiment Analysis
              </h1>
            </div>
            <div class="column is-4">
              <form @submit.prevent="query">
                  <div class="field has-addons">
                    <div class="control is-expanded">
                      <input
                        class="input is-fullwidth"
                        type="text"
                        placeholder="Enter a query..."
                        v-model="search_term"
                      />
                    </div>
                    <div class="control">
                      <input type="submit" class="button is-success" value="Search"></input>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Graph showcase -->
    <div class="hero has-background-grey-lighter">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1 has-text-weight-light has-text-centered">Statistics</h1>
          <div class="columns is-centered">
            <div class="column is-4">
              <div class="box has-text-centered">
                <h1 class="title has-text-weight-light">Positive</h1>
              </div>
            </div>
            <div class="column is-4">
              <div class="box has-text-centered">
                <h1 class="title has-text-weight-light">Neutral</h1>
              </div>
            </div>
            <div class="column is-4">
              <div class="box has-text-centered">
                <h1 class="title has-text-weight-light">Negative</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
  <script>
     var app = new Vue({
      el: "#app",
      data () {
        return {
          search_term: "",
          query_limit: 100,
          tweets: [],
        }
      },
      methods: {
        query() {
          axios.get(`http://localhost:8000/app/piechart?q=${this.search_term}&maxResults=${this.query_limit}`).then(res => {
            this.tweets = res.data;
          }).catch(err => console.error(err));
        }
      },
    });
  </script>
  {% endblock %}
