{% extends "base.html" %} 
{% load static %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block body %}

<!-- Graph showcase -->
<div class="hero has-background-grey-lighter">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 has-text-weight-light has-text-centered">
        Statistics
      </h1>
      <div class="columns is-centered">
        <div class="column is-4">
          <div class="box has-text-centered">
            <h1 class="title has-text-weight-light">Data</h1>
            <!-- Pie chart -->
            <canvas id="positiveChart"></canvas>
          </div>
        </div>
        <div class="column is-4">
          <div class="box has-text-centered" style="height: 100%">
            <h1 class="title has-text-weight-light">
              Analysis of Tweets
            </h1>
            <div class="table-container">
              <table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>Positive</th>
                    <th>Neutral</th>
                    <th>Negative</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td id="pos">0</td>
                    <td id="neu">0</td>
                    <td id="neg">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
  <script src={% static 'js/index.js' %}></script>

  <!-- A bit of individual styling for Box -->
  {% endblock %}
  {% block footer %}
  
  {% endblock %}